fastapi
uvicorn
pytest
pytest-cov
python-multipart
pytest-dotenv
pytest-mock
httpx
sqlalchemy
pika
psycopg2-binary
pydantic[email]
python-dotenv
azure-storage-blob==12.16.0
python-jose[cryptography]
jose
prometheus-client==0.19.0
prometheus-fastapi-instrumentator==6.1.0
structlog==23.2.0
python-json-logger==2.0.7
testcontainers[postgresql]
pytest-asyncio==0.21.1
testcontainers[rabbitmq]==3.7.1